html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.horizontal-line {
  background: #cccccc;
  height: 1px;
  margin: 0 20px;
}

.main {
  padding: 40px 20px;
}

.section {
  margin-bottom: 40px;
  position: relative;
}

@media screen and (min-width: 600px) {
  .horizontal-line {
    margin: 0 30px;
  }

  .main {
    padding: 60px 30px;
  }
}

@media screen and (min-width: 900px) {
  .horizontal-line {
    margin: 0 50px;
  }

  .main {
    padding: 60px 50px;
  }
}

@media screen and (min-width: 1200px) {
  .horizontal-line {
    margin: 0 70px 0 10%;
  }

  .main {
    padding: 60px 40px 60px 10%;
  }
}
