html {
  font-family: 'Noto Sans JP', sans-serif;
  font-size: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.page-container {
  display: grid;
  grid-template-rows: auto 1fr 1279px;
  height: 8802px;
}

.header {
  display: grid;
  grid-template-rows: 1.1fr 1.3fr 1fr 1.1fr;
}

.header-notice {
  display: flex;
  background-color: black;
  padding: 0 20px;
  align-items: center;
}

.header-notice__link {
  display: flex;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.2rem;
}

.header-notice__link:hover {
  cursor: pointer;
  color: #dfdfdf;
}

.header-notice__icon {
  margin-right: 13px;
  padding: 2px 0;
}

.header-notice__text {
  padding: 3px 0;
}

.header-notice__text:hover {
  text-decoration: underline;
}

.header-nav {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav__logo-wrapper:hover {
  cursor: pointer;
}

.header-nav__logo {
  width: 76px;
}

.header-nav__menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 160px;
}

.header-nav__icon-wrapper {
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  padding: 10px 10px;
}

.header-nav__icon-wrapper:hover {
  cursor: pointer;
  background: #efefef;
}

.header-nav__icon {
  width: 18px;
  border: none;
}

.header-search {
  padding: 0 20px;
  display: flex;
  align-items: center;
}

.search-container {
  position: relative;
  background: #f5f5f5;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px;
  border-radius: 27px;
  transition: all 0.2s ease;
}

.search-container:hover {
  cursor: text;
  background: #dfdfdf;
}

.search-container__input {
  width: 100%;
  border: none;
  background: transparent;
  padding: 0 20px;
  font-size: 1.6rem;
}

.search-container__icon-wrapper {
  display: flex;
  border-radius: 20px;
  padding: 6px 6px;
  transition: all 0.2s ease;
}

.search-container__icon-wrapper:hover {
  cursor: pointer;
  background: #cccccc;
}

.search-container__icon {
  width: 18px;
}

.search-container__tooltip {
  position: absolute;
  background: #000000;
  color: #ffffff;
  right: 19px;
  top: 44px;
  padding: 8px 9px 10px 10px;
  border-radius: 5px;
  font-size: 1.2rem;
  display: none;
}

.search-container__tooltip--visible {
  display: block;
}

.header-stores {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #efefef;
}

.header-stores > div {
  display: flex;
}

.header-stores__icon {
  width: 18px;
  margin-right: 10px;
}

.header-stores__text {
  font-size: 1.2rem;
}

.header-stores__text--left {
  font-weight: bold;
  align-self: center;
}

.header-stores__text--right {
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.footer {
  background: blue;
}

#iphone-se-background {
  position: absolute;
  width: 100%;
  opacity: 0.4;
  z-index: auto;
}

