.carousel {
  display: grid;
  grid-column-gap: 10px;
  grid-template-columns: repeat(9, calc(calc(100% - 30px) / 2.05));
  grid-template-rows: 1fr;
  overflow-x: scroll;
  scrollbar-color: #111111 #dfdfdf;
  scrollbar-width: thin;
  width: 104%;
}

.carousel::-webkit-scrollbar {
  height: 10px;
}

.carousel::-webkit-scrollbar-thumb {
  background: #111111;
}

.carousel::-webkit-scrollbar-track {
  background: #dfdfdf;
}

.carousel__scroll-btn {
  align-items: center;
  background: #000000;
  border-radius: 32px;
  border: none;
  color: #ffffff;
  display: flex;
  font-size: 4rem;
  height: 40px;
  justify-content: center;
  padding-bottom: 5px;
  position: absolute;
  visibility: hidden;
  width: 40px;
}

.carousel__scroll-btn:hover {
  background: #333333;
  cursor: pointer;
}

.carousel__scroll-btn--left {
  left: -1%;
  top: 45%;
}

.carousel__scroll-btn--right {
  right: 0;
  top: 45%;
  transform: translateX(50%);
}

.carousel__scroll-btn--visible {
  visibility: visible;
}

.item {
  display: grid;
  grid-template-rows: auto 1fr;
  margin-bottom: 40px;
}

.item__banner {
  display: flex;
}

.item__banner:hover {
  cursor: pointer;
}

.item__img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
}

.item__body {
  background: #fc8d68;
  display: grid;
  row-gap: 10px;
  grid-template-rows: auto 1fr auto;
  padding: 40px;
}

.item__body--dark {
  color: #ffffff;
}

.item__body--dark .item__link {
  color: #000000;
  background: #ffffff;
}

.item__body--dark .item__link:hover {
  background: #f5f5f5;
}

.item__body--pink {
  background: #eeddd9;
}

.item__body--light-blue {
  background: #b9d3dc;
}

.item__body--yellow {
  background: #f9ca66;
}

.item__body--gray {
  background: #cbc8c1;
}

.item__body--green {
  background: #cad8c3;
}

.item__body--brown {
  background: #7e6042;
}

.item__body--light-brown {
  background: #996347;
}

.item__body--blue {
  background: #172a38;
}

.item__headline {
  font-size: 2.5rem;
}

.item__subline {
  font-size: 1.7rem;
}

.item__link {
  align-items: center;
  background: #000000;
  border-radius: 32px;
  color: #ffffff;
  display: flex;
  font-size: 2.5rem;
  font-weight: bold;
  height: 6rem;
  justify-content: center;
  margin-top: 50px;
  width: 6rem;
}

.item__link:hover {
  background: #333333;
  cursor: pointer;
}

@media screen and (min-width: 900px) {
  .carousel {
    grid-column-gap: 20px;
    grid-template-columns: repeat(9, calc(calc(100% - 60px) / 3));
  }
}