.card {
  background: #fc8d68;
  display: grid;
  grid-template-rows: auto 1fr;
}

.card__img {
  width: 100%;
}

.card__body {
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: auto auto 1fr;
  padding: 40px;
}

.card__headline {
  font-size: 1.8rem;
}

.card__subline {
  font-size: 1.5rem;
}

.card__link {
  align-self: center;
  background: #000000;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  justify-self: flex-start;
  margin: 20px 0;
  padding: 10px 23px;
}

.card__link:hover {
  cursor: pointer;
}