.gallery__categories {
  max-width: fit-content;
  overflow-x: scroll;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(11, auto);
  grid-template-rows: 1fr;
  column-gap: 10px;
  scrollbar-width: none;
  margin-bottom: 10px;
}

.gallery__categories::-webkit-scrollbar {
  width: 0;
}

.gallery__category-btn {
  background: #f5f5f5;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  height: 40px;
  margin-top: 6px;
  padding: 10px 25px;
  width: fit-content;
  white-space: nowrap;
  margin-bottom: 15px;
}

.gallery__category-btn:hover {
  cursor: pointer;
  background: #dfdfdf;
}

.gallery__category-btn:active {
  background: #cccccc;
}

.gallery__category-btn:focus {
  border: 1px solid black;
}

.gallery__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
}

.gallery__grid-item {
  grid-column: span 1;
  grid-row: span 4;
  position: relative;
}

.gallery__grid-item:hover {
  cursor: pointer;
}

.gallery__grid-item:hover .product__btn {
  cursor: pointer;
  display: flex;
}

.gallery__grid-item:nth-of-type(2) {
  aspect-ratio: 1 / 1;
  grid-row: span 3;
}

.gallery__img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.gallery__load {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.gallery__load-btn {
  background: #000000;
  border: 1px solid #f5f5f5;
  border-radius: 20px;
  color: #ffffff;
  display: block;
  font-size: 1.4rem;
  font-weight: bold;
  height: 40px;
  margin-top: 6px;
  padding: 10px 25px;
  width: fit-content;
  white-space: nowrap;
  margin-bottom: 15px;
  transition: all 0.2s ease;
}

.gallery__load-btn:hover {
  cursor: pointer;
  background: #333333;
}

.gallery__load-btn:active {
  transform: scale(0.95);
}

.product {
  position: absolute;
  top: 50%;
  left: 50%;
}

.product--stackholmen {
  top: 38%;
  left: 23%;
}

.product--gamlehult {
  top: 72%;
  left: 66%;
}

.product--skurup {
  top: 4%;
  left: 27%;
}

.product--nordkisa {
  top: 34%;
  left: 64%;
}

.product--nordli {
  top: 44%;
  left: 26%;
}

.product--karmsund {
  top: 12%;
  left: 20%;
}

.product--bryggja {
  top: 60%;
  left: 43%;
}

.product--stockholm-lamp {
  top: 5%;
  left: 75%;
}

.product--enhet {
  top: 37%;
  left: 43%;
}

.product--ledsjo {
  top: 30%;
  left: 52%;
}

.product--lettan {
  top: 33%;
  left: 75%;
}

.product--bjorkan {
  top: 55%;
  left: 60%;
}

.product--nysjon {
  top: 68%;
  left: 64%;
}

.product--nissafors {
  top: 72%;
  left: 15%;
}

.product--utsund {
  top: 29%;
  left: 61%;
}

.product--vardagen {
  top: 58%;
  left: 53%;
}

.product--rort {
  top: 81%;
  left: 41%;
}

.product--fado {
  top: 29%;
  left: 35%;
}

.product--malm {
  top: 49%;
  left: 41%;
}

.product__description {
  display: block;
  opacity: 0;
  background: white;
  box-shadow: 0 0 5px #00000091;
  position: absolute;
  left: 125%;
  top: 50%;
  transition: all 0.3s ease;
  visibility: hidden;
  transform: translate(0, -50%);
  z-index: 3;
}

.product__description--top {
  left: 50%;
  transform: translate(-50%, -125%);
}

.product__description--left {
  left: -25%;
  transform: translate(-100%, -50%);
}

.product__description--bottom {
  left: 50%;
  transform: translate(-50%, 25%);
}

.product:hover .product__description {
  visibility: visible;
  opacity: 1;
}

.product__btn {
  display: none;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  z-index: 2;
}

.product__btn:hover {
  cursor: pointer;
}

.product__btn:hover .btn-pad {
  border: 2px solid #ffffffa6;
  background: #00000055;
}

.product__btn:hover .btn-pad__center {
  width: 30%;
  height: 30%;
}

.product__btn:active .btn-pad {
  background: #000000a4;
}

.btn-pad {
  align-items: center;
  background: #0000001f;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  height: 35px;
  justify-content: center;
  transition: all 0.2s ease;
  width: 35px;
}

.btn-pad__center {
  width: 35%;
  height: 35%;
  background: #ffffff;
  border-radius: 20px;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 3px #00000031;
}

.product-card {
  display: grid;
  grid-template-columns: 1fr 15px;
  column-gap: 10px;
  padding: 15px;
  min-width: 150px;
}

.product-card__headline,
.product-card__subline {
  font-size: 1.3rem;
}

.product-card__price {
  font-size: 1.5rem;
  font-weight: bold;
}

.product-card__subline {
  margin-bottom: 15px;
  white-space:nowrap;
  max-width: 120px;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.product-card__arrow {
  font-size: 4rem;
  align-self: flex-start;
  line-height: 15px;
}

@media screen and (min-width: 600px) {
  .gallery__grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
