.footer {
  background: #f5f5f5;
}

.footer__main-container {
  padding: 60px 20px 0 20px;
  display: grid;
  row-gap: 60px;
}

.footer__scroll-top {
  display: flex;
  justify-content: center;
  background: #ffffff;
  margin-bottom: 40px;
  padding: 40px 0;
}

.scroll-top-btn {
	align-items: center;
	background: #f5f5f5;
	border-radius: 20px;
	border: none;
	display: flex;
	overflow: hidden;
	width: 40px;
  height: 40px;
  padding: 8px 8px;
  transition: all 0.3s cubic-bezier(.77,0,.18,1);
}

.scroll-top-btn__icon {
  fill: #000000;
  min-width: 24px;
}

.scroll-top-btn__text {
  font-weight: bold;
  margin-left: 10px;
  white-space: nowrap;
}

.scroll-top-btn:hover {
	padding: 10px 15px;
	width: 160px;
  background: #dfdfdf;
  cursor: pointer;
}

.footer__register {
  display: grid;
  row-gap: 30px;
  grid-template-rows: 1fr 1fr;
}

.register-card {
	display: grid;
	grid-template-rows: minmax(auto, max-content) minmax(auto, max-content) minmax(auto, max-content) minmax(auto, max-content);
	row-gap: 12px;
	align-items: flex-start;
}

.register-card__icon {
  height: 100%;
  fill: #484848;
}

.register-card__headline {
  font-size: 1.6rem;
}

.register-card__subline,
.register-card__link {
  font-size: 1.5rem;
  color: #484848;
  line-height: 1.5;
}

.register-card__link {
  text-decoration: underline;
}

.register-card__link:hover {
  cursor: pointer;
}

.register-card__sign-up {
  background: #000000;
  color: #ffffff;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 1.3rem;
  font-weight: bold;
  width: max-content;
}

.register-card__sign-up:hover {
  cursor: pointer;
}

.list-nav {
  display: grid;
  border-top: 1px solid #dfdfdf;
}

.list-nav__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.list-nav__top:hover {
  cursor: pointer;
}

.list-nav__bottom {
  max-height: 500px;
  transition: all 0.3s ease-out;
  overflow: hidden;
}

.list-nav__bottom--closed {
  max-height: 0;
}

.list-nav__icon {
  fill: #000000;
  transition: all 0.3s ease-out;
}

.list-nav__icon--reversed {
  transform: rotate(180deg);
}

.list-nav__list {
  list-style-type: none;
  opacity: 1;
  font-size: 1.4rem;
  line-height: 3;
  transition: all 0.3s ease-out;
  padding-bottom: 40px;
}

.list-nav__list--hidden {
  opacity: 0;
}

.list-nav__link {
  color: #484848;
}

.list-nav__link:hover {
  cursor: pointer;
  text-decoration: underline;
}

.footer__options {
	display: grid;
	grid-template-rows: repeat(4, minmax(auto, max-content));
  color: #484848;
}

.social-payment {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}

.social-nav {
	display: flex;
	width: 220px;
	justify-content: space-between;
	margin-bottom: 20px;
  align-items: flex-start;
}

.social-link {
	border: 1px solid #dfdfdf;
	display: flex;
	padding: 4px;
	border-radius: 28px;
}

.social-link__icon {
  min-width: 24px;
  fill: #000000;
}

.payment-nav {
	display: flex;
	justify-content: space-between;
	width: 250px;
  margin-bottom: 20px;
}

.payment-link {
	padding: 4px;
	border: 1px solid #dfdfdf;
	display: flex;
	border-radius: 3px;
}

.lang-options {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	width: 200px;
  margin-bottom: 20px;
}

.home-link {
	padding: 10px 15px;
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	font-weight: bold;
	font-size: 1.2rem;
}

.select-container {
	border: 1px solid #dfdfdf;
	border-radius: 20px;
	padding: 10px 15px;
}

.lang-select {
	background: none;
	border: none;
	font-size: 1.2rem;
	font-weight: bold;
}

.lang-select:hover {
  cursor: pointer;
}

.copyright {
	font-size: 1.2rem;
  margin-bottom: 20px;
}

.legal {
	display: flex;
	flex-wrap: wrap;
}

.legal-link {
	font-size: 1.2rem;
	margin-right: 20px;
  margin-bottom: 20px;
}

.social-link:hover,
.payment-link:hover,
.home-link:hover, 
.select-container:hover {
  cursor: pointer;
  border: 1px solid #484848;
}

.legal-link:hover {
  cursor: pointer;
  text-decoration: underline;
}

@media screen and (min-width: 900px) {
  .footer__main-container {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr auto;
    column-gap: 60px;
    padding: 60px 40px 0 40px;
  }

  .footer__navs {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    column-gap: 20px;
  }

  .list-nav {
    border: none;
    row-gap: 20px;
    grid-template-rows: minmax(auto, max-content) 1fr;
  }

  .list-nav__top {
    align-items: flex-start;
    padding: 0;
  }

  .list-nav__icon {
    display: none;
  }

  .list-nav__bottom {
    max-height: 500px;
  }

  .list-nav__list {
    opacity: 1;
    padding: 0;
  }

  .footer__options {
    grid-column: span 2;
    grid-template-columns: 1fr minmax(auto, max-content);
  }

  .lang-options {
    justify-self: flex-end;
    align-self: flex-end;
  }

  .copyright {
    margin-top: 20px;
    border-top: 1px solid #dfdfdf;
    padding-top: 40px;
  }

  .legal {
    justify-content: flex-end;
    margin-top: 20px;
    border-top: 1px solid #dfdfdf;
    padding-top: 40px;
  }

  .legal-link {
    margin-right: 0;
    margin-left: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer__main-container {
    padding: 60px 60px 20px 10%;
  }

  .scroll-top-btn {
    position: fixed;
    left: 5%;
    bottom: 40px;
    transform: translate(-50%, 0);
    color: #dfdfdf;
    background: #000000;
  }

  .scroll-top-btn:hover {
    color: #dfdfdf;
    background: #000000;
  }

  .scroll-top-btn__icon {
    fill: #dfdfdf;
  }

  .social-nav {
    margin-right: 20px;
  }

  .social-payment {
    justify-content: flex-start;
  }
}