.campaign {
  display: grid;
  grid-template-rows: auto 1fr;
}

.campaign__banner {
  display: flex;
}

.campaign__banner:hover {
  cursor: pointer;
}

.campaign__img {
  width: 100%;
}

.campaign__body {
  background: #fc8d68;
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: auto auto 1fr;
  padding: 40px;
}

.campaign__body--pink {
  background: #eeddd9;
}

.campaign__headline {
  font-size: 1.8rem;
}

.campaign__subline {
  font-size: 1.5rem;
}

.campaign__link {
  align-self: center;
  background: #000000;
  border-radius: 20px;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: bold;
  justify-self: flex-start;
  margin: 20px 0;
  padding: 10px 23px;
}

.campaign__link:hover {
  background: #333333;
  cursor: pointer;
}

@media screen and (min-width: 600px) {
  .campaign__body {
    padding: 80px;
  }

  .campaign__headline {
    font-size: 2.4rem;
  }
}

@media screen and (min-width: 900px) {
  .campaign {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .campaign__banner {
    grid-row: 1 / 3;
  }

  .campaign__body {
    padding: 40px;
  }

  .campaign__link {
    align-self: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .campaign__body {
    padding: 80px;
  }
}
